[submodule "libs/raylib"]
	path = libs/raylib
	url = https://github.com/raysan5/raylib
[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "libs/glew"]
	path = libs/glew
	url = https://github.com/nigels-com/glew.git
